

body {
    scroll-behavior: smooth;
    padding-top: 56px;
}

section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.hero {
    height: 100vh;
    background-image: url('../assets/images/bg-mountain.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.7));
    z-index: 1;
}

.hero .container {
    position: relative;
    z-index: 2;
}

.gradient-bg {
    background-image: linear-gradient(to bottom right, #0f409c, #305ead);
}

.btn:hover {
    opacity: 0.9;
    transform: scale(1.03);
}

.bg-teal {
    background-color: #38b2ac;
}

.bg-purple {
    background-color: #7952b3;
}


.badge {
    font-size: 0.85rem;
    padding: 0.45em 0.65em;
    border-radius: 0.5rem;
}
